
a:link, a:visited{ color: #5e5e5e;}
a:hover { /*color:#999;*/}
a:hover { color:#c9394a; text-decoration: none; }

a:active { color: #666;}
.clearfix:after{content:'\0020';display:block;height:0;clear:both;visibility:hidden;}
.clearfix{*zoom:1;}

ul.card  { 
	padding-top:20px;
	padding-left:0px;
	list-style:none;
	font-family:"微软雅黑";
	overflow:hidden;
}
  
ul.card li{
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
	transition: 0.25s;
}
  
ul.card  li { 
	float:left;
	width:96%;
	background:#f6f6f6;
	margin:0 -7px 21px 28px;
	padding-bottom:5px;
}
 
ul.card  li  p:hover {
	color:#666;
	text-decoration: none !important;
}

ul.card  li:hover{
	box-shadow:0 3px 10px #999;
	background:#fff;
}

ul.card  li a:hover{
	display:block;
	overflow:hidden;
} 

ul.card  li  h5{
	color:#333;
	font-size:14px;
	padding-left:20px;
	overflow:hidden;
	word-break:break-all;
	white-space:nowrap;
	width:266px;
} 
ul.card  li  h5:hover{
	color:green;
	text-decoration:none;
}

ul.card  li p{
	padding:5px 20px;
	line-height:1.6;
	height:32px;
	color:#99a0a6;
	font-size:12px;
} 

ul.card  li .tips{
	margin:10px 20px 0;
	border-top:1px solid #ddd;
	padding:5px 0 10px;
	overflow:hidden;
	*zoom:1;
	color:999;
	font-size:12px;
}

ul.card  li a:hover h5{
	color:green;
	text-decoration:none;
} 
ul.card  li a:hover span{
	color:#666
} 

ul.card  li.mr0 { 
	margin-right:0
}

ul.card  ul li img{
	margin:10px 10px 0 10px
}
.l{
	float:left;
}
.r{
	float:right;
}

div.tab-pane {
	height: 100%;
}
div.tab-content {
	height: 100%;
}